html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

:root {
  --main-color: #2196f3;
}

body {
  background-color: rgb(224, 217, 217);
}

.header {
  background-color: var(--main-color);
  padding: 1em;
  display: flex;
  position: relative;
  gap: 1em;
  box-shadow: 5px 5px 5px hsl(0, 1%, 37%);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 11;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  font-family: 'Bruno Ace SC', cursive;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 3.5em;
  background-color: silver;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 1em;
  margin-top: 0.15em;
}

.add:hover {
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.4);
  width: 61px;
  height: 61px;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: 'Bruno Ace SC', cursive;
  font-size: 2rem;
  padding: 1em;
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 2em;
  position: relative;
}

/* form */
.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: white;
  border: 2px solid var(--main-color);
  box-shadow: 1px 1px 2px var(--main-color);
  border-radius: 15px;
  width: 250px;
  height: 350px;
  padding: 1em;
  position: absolute;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.bookHeader {
  display: flex;
}

h3 {
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Bruno Ace SC', cursive;
}

p {
  font-family: 'Dancing Script', cursive;
  font-size: 1.25rem;
}

.exit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5em 0.5em 0 0;
  cursor: pointer;
}

input {
  width: 100%;
  outline: none;
  border: 2px solid rgb(6, 6, 114);
}

input[type='submit'] {
  border-radius: 20px;
  background-color: var(--main-color);
}

.input {
  width: 100%;
}

label {
  display: flex;
  padding-bottom: 0.3em;
}

.read {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: stretch;
}

.library {
  display: flex;
  gap: 3em;
  padding: 3em;
  flex-wrap: wrap;
  margin-left: 5em;
}

.book {
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  width: 225px;
  height: 300px;
  border: 3px solid var(--main-color);
  box-shadow: 1px 1px 2px var(--main-color);
  border-radius: 15px;
  background-color: white;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(16, 16, 181);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
